build/bin
node_modules
src/renderer/dist
lynel-desktop
.omc/
.superpowers/
.claude-flow/
dist/
dist-electron/
.claude/
.worktrees/
src/main/**/*.js
src/main/**/*.js.map
src/renderer/src/**/*.js
src/renderer/src/**/*.js.map